button {
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: rgb(159, 39, 189);
  background-color: wheat;
  cursor: pointer;
  font-family: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-add {
  margin-right: 5px;
}
.btn-add:hover,
.btn-add:focus {
  box-shadow: 5px 5px 5px rgba(58, 173, 74, 0.1),
    5px 5px 5px rgba(110, 184, 50, 0.08), 5px 5px 5px rgba(84, 206, 73, 0.12);
  color: rgb(74, 62, 180);
  background-color: greenyellow;
}

.btn-remove:hover,
.btn-remove:focus {
  box-shadow: 5px 5px 5px rgba(173, 58, 58, 0.1),
    5px 5px 5px rgba(184, 50, 57, 0.08), 5px 5px 5px rgba(206, 73, 95, 0.12);
  color: rgb(74, 62, 180);
  background-color: rgb(255, 47, 92);
}

ul {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

li {
  width: 200px;
  padding: 15px 0;
  text-align: center;
}

.even {
  background-color: red;
  color: blueviolet;
}

.odd {
  background-color: blueviolet;
  color: red;
}
